body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1624px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1624px;
  height:540px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1624px;
  height:540px;
  display:flex;
}
#u137 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u137_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:95px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:227px;
  width:168px;
  height:95px;
  display:flex;
}
#u138 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u138_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:251px;
  width:102px;
  height:48px;
  display:flex;
  text-align:center;
}
#u139 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u139_text {
  border-width:0px;
  white-space:nowrap;
}
