body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1643px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1643px;
  height:808px;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1643px;
  height:808px;
  display:flex;
}
#u469 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u469_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:95px;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:582px;
  width:168px;
  height:95px;
  display:flex;
}
#u470 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u470_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:606px;
  width:102px;
  height:48px;
  display:flex;
  text-align:center;
}
#u471 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u471_text {
  border-width:0px;
  white-space:nowrap;
}
#u472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:36px;
  background:-webkit-linear-gradient(270deg, rgba(254, 254, 254, 1) 0%, rgba(254, 254, 254, 1) 0%, rgba(247, 247, 247, 1) 47%, rgba(243, 243, 243, 1) 100%, rgba(243, 243, 243, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(254, 254, 254, 1) 0%, rgba(254, 254, 254, 1) 0%, rgba(247, 247, 247, 1) 47%, rgba(243, 243, 243, 1) 100%, rgba(243, 243, 243, 1) 100%);
  background:linear-gradient(180deg, rgba(254, 254, 254, 1) 0%, rgba(254, 254, 254, 1) 0%, rgba(247, 247, 247, 1) 47%, rgba(243, 243, 243, 1) 100%, rgba(243, 243, 243, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:168px;
  width:358px;
  height:36px;
  display:flex;
  text-align:left;
}
#u472 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u472_text {
  border-width:0px;
  word-wrap:break-word;
}
#u473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:203px;
  width:358px;
  height:170px;
  display:flex;
}
#u473 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u473_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:19px;
  width:144px;
  height:34px;
}
#u474_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u474_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
  background:inherit;
  background-color:rgba(66, 139, 202, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u475 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u475_text {
  border-width:0px;
  word-wrap:break-word;
}
#u474_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u474_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
  background:inherit;
  background-color:rgba(53, 126, 189, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u476 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u476_text {
  border-width:0px;
  word-wrap:break-word;
}
#u477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:19px;
  width:144px;
  height:34px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u477 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u477_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:333px;
  width:80px;
  height:30px;
}
#u478_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u478_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u479 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u479_text {
  border-width:0px;
  word-wrap:break-word;
}
#u478_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u478_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u480 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u480_text {
  border-width:0px;
  word-wrap:break-word;
}
#u481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:333px;
  width:80px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u481 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u481_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:240px;
  width:312px;
  height:48px;
  display:flex;
}
#u482 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u482_text {
  border-width:0px;
  word-wrap:break-word;
}
